.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  color: var(--text-color);
  border: var(--border-base);
  border-radius: var(--rounded-base);
  padding: 0.5rem 1rem;
}

.button:hover {
  border-color: var(--focus-color);
  color: var(--focus-color);
}

.button--red {
  border-color: var(--red-color);
  color: var(--red-color);
}

.button--green {
  border-color: var(--green-color);
  color: var(--green-color);
}
