.button {
  display: flex;
  cursor: pointer;
  background-color: transparent;
  color: var(--text-color);
  border: var(--border-base);
  border-radius: var(--rounded-base);
  padding: 0.5rem 1rem;
}

.button:hover {
  border-color: var(--focus-color);
  color: var(--focus-color);
}

.button--attention-button {
  border-color: var(--attention-color);
  color: var(--attention-color);
}
