.text-area {
  background-color: transparent;
  color: var(--text-color);
  outline: none;
  padding: 1rem;
  border: var(--border-base);
  border-radius: var(--rounded-base);
  min-width: 300px;
  max-width: 100%;
  min-height: 100px;
}
