.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.modal {
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  border-radius: var(--rounded-base);
  height: 900px;
  width: 500px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: var(--rounded-base);
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: var(--rounded-base);
}
