.character-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.5rem;
}

.character-info__left-column,
.character-info__right-column {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.stats,
.other {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
  padding: 0.5rem;
}

.stat--oneline {
  grid-column: 1 / 3;
}
